/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-toggler-icon{
  color: black !important;
  /* background-color: black; */
}
.navbar{
 background-color: #c4a577;
 color: black;

}
.searchBoxContainer{
  position: relative;
}
.searchBox{
  display: flex;
  gap: 0px;
  position: absolute;
  top: 200%;
  right: 50%;
}
.navComponent{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.headerComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  gap: 20px;
  background-color: white;
}
.headerComponent ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.footerPages{
  height: 500px;
  width:100%;
  background-color:#1a110a;
}
.ulPages{
  list-style: none;
}
.ulPages li a{
   color: white;
}
.bgPages{
  height: 50px;
  width: 100%;
  background-color: #8b7452;
}